.contact {

    h3 {

        font-family: $texte;
        font-size: 3em;

        @media (max-width: 640px) {

            font-size: 2em;
        }

        .contact_title {

            font-family: $title;
            font-size: 2.5em;
        }
    }

    .contact_form {

        form {

            position: relative;

            input, textarea  {

                margin: 1.2em;
                outline: none;
                background: transparent;
                border-bottom: 1px solid black;
                color: rgb(0, 0, 0);
                position: relative;

                &::placeholder {

                    color: rgb(77, 76, 76);
                }
            }

            button {
                display: inline-block;
                border-radius: 20px;
                background-color: #3d405b;
                border: none;
                color: #FFFFFF;
                text-align: center;
                font-size: 17px;
                padding: 16px;
                width: 200px;
                transition: all 0.5s;
                cursor: pointer;
               }
               
               button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
               }
               
               button span:after {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f178";
                position: absolute;
                opacity: 0;
                top: 0;
                right: -30px;
                transition: 0.5s;
               }
               
               button:hover span {
                padding-right: 30px;
               }
               
               button:hover span:after {
                opacity: 1;
                right: 0;
               }
        }
    }
}