.contact {

    h3 {

        font-family: $texte;
        font-size: 2em;
    }
    .contact_form {

        form {

            input {

                margin: 0.5em;
            }
        }
    }
}