.home {

    background-image: url("../assets/images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;

    .home_basic {

        background-color: $backcolor;
        height: 80vh;
        width: 83vw;

        h1 {

            margin: -3em 0 -5em 0;
    
            .fonth1{
    
                font-family: $title;
                font-size: 12em;
                font-weight: lighter;
                margin-left: 0.2em;
                color: $text-color;
            }
    
            .fonth1bis {
    
                font-family: $texte;
                font-size: 5em;
                font-weight: lighter;
                padding-left: 0.5em;
                color: $text-color;
                
            }
        }

        p {
            font-family: $texte;
            font-size: 1.6em;
            padding: 1em 2em
        }
    }
}