@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Lora:wght@400;500;700&display=swap");
nav h1 {
  margin: -3em 0 -5em 0;
}
nav h1 .fonth1 {
  font-family: "Hurricane", cursive;
  font-size: 12em;
  font-weight: lighter;
  margin-left: 0.2em;
  color: #2F2F2F;
}
nav h1 .fonth1bis {
  font-family: "Lora", serif;
  font-size: 5em;
  font-weight: lighter;
  padding-left: 0.5em;
  color: #2F2F2F;
}
nav .navbar {
  margin-top: 3em;
  margin-right: 2em;
}
nav .navbar li {
  font-family: "Hurricane", cursive;
  font-size: 2.3em;
  padding: 0 0.5em;
  margin: 0 0.5em;
  color: #2F2F2F;
  display: block;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
  cursor: pointer;
}
nav .navbar li:after, nav .navbar li:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
}
nav .navbar li:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}
nav .navbar li:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}
nav .navbar li:hover::before, nav .navbar li:hover::after {
  width: 20px;
  height: 20px;
  border-color: #000000;
}

.home {
  background-image: url("../assets/images/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.home .home_basic {
  background-color: #D9D9D9;
  height: 80vh;
  width: 83vw;
}
.home .home_basic h1 {
  margin: -3em 0 -5em 0;
}
.home .home_basic h1 .fonth1 {
  font-family: "Hurricane", cursive;
  font-size: 12em;
  font-weight: lighter;
  margin-left: 0.2em;
  color: #2F2F2F;
}
.home .home_basic h1 .fonth1bis {
  font-family: "Lora", serif;
  font-size: 5em;
  font-weight: lighter;
  padding-left: 0.5em;
  color: #2F2F2F;
}
.home .home_basic p {
  font-family: "Lora", serif;
  font-size: 1.6em;
  padding: 1em 2em;
}

.portfolio h1 {
  margin: -3em 0 -5em 0;
}
.portfolio h1 .fonth1 {
  font-family: "Hurricane", cursive;
  font-size: 12em;
  font-weight: lighter;
  margin-left: 0.2em;
  color: #2F2F2F;
}
.portfolio h1 .fonth1bis {
  font-family: "Lora", serif;
  font-size: 5em;
  font-weight: lighter;
  padding-left: 0.5em;
  color: #2F2F2F;
}
.portfolio .navbar {
  margin-top: 3em;
  margin-right: 2em;
}
.portfolio .navbar li {
  font-family: "Hurricane", cursive;
  font-size: 2em;
  padding: 1em;
  color: #2F2F2F;
}
.portfolio .portfolio_bloc h2 {
  font-family: "Lora", serif;
  color: #2F2F2F;
}
.portfolio .portfolio_bloc ul li {
  font-family: "Lora", serif;
  color: #2F2F2F;
  font-size: 1.1em;
}
.portfolio .portfolio_bloc ul .selected_projet::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f178";
  margin: 10px;
}
.portfolio .portfolio_bloc ul .not_selected {
  transform: translateX(37px);
}
.portfolio .portfolio_bloc ul .not_selected:hover::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f178";
  margin: 10px;
}
.portfolio .portfolio_bloc ul .not_selected:hover {
  transform: translateX(0px);
}
.portfolio .portfolio_bloc .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
  grid-auto-rows: minmax(min-content, max-content);
  grid-auto-flow: dense;
}
@media (max-width: 680px) {
  .portfolio .portfolio_bloc .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 681px) and (max-width: 1024px) {
  .portfolio .portfolio_bloc .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
}
.portfolio .portfolio_bloc .grid-container .grid-item {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 3px;
  grid-column-end: span 1;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.portfolio .portfolio_bloc .grid-container .grid-item:hover {
  cursor: pointer;
  transform: scale(1.07);
  border-radius: 10%;
}
.portfolio .portfolio_bloc .grid-container .large-item {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 3px;
  grid-column-end: span 2;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.portfolio .portfolio_bloc .grid-container .large-item:hover {
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 10%;
}
.portfolio .portfolio_bloc .overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(7px);
}
.portfolio .portfolio_bloc .overlay-container .overlay_item {
  position: relative;
  width: 85%;
  height: 90%;
}
.portfolio .portfolio_bloc .overlay-container .overlay_item div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio .portfolio_bloc .overlay-container .overlay_item div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.portfolio .portfolio_bloc .overlay-container .overlay_item .cross_close_image {
  position: absolute;
  top: -2vw;
  left: -5vw;
}
.portfolio .portfolio_bloc .overlay-container .overlay_item .index_pages {
  position: absolute;
  top: 7vh;
  left: -4.2vw;
}

/* next track */
.fade-enter-active {
  transform: translateX(-200em);
}

.fade-enter-done {
  transition: all 0.3s ease-in-out;
  transform: translateX(0);
}

.fade-exit-active {
  transform: translateX(150em);
  transition: all 0.3s ease-in-out;
}

.fade-exit-done {
  transform: translateX(200em);
}

/* prev track */
.fadeout-enter-active {
  transform: translateX(200em);
}

.fadeout-enter-done {
  transition: all 0.3s ease-in-out;
  transform: translateX(0);
}

.fadeout-exit {
  transform: translateX(-30em);
}

.fadeout-exit-active {
  transform: translateX(-150em);
  transition: all 0.3s ease-out;
}

.fadeout-exit-done {
  transform: translateX(-200em);
}

body {
  background-color: #D9D9D9;
}

/*# sourceMappingURL=style.css.map */
